<div class="modal fade" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="hand-emoj"><img src="../../../assets/images/hand-emoji.png" alt="" height="24px" width="24px"></div>
          <h1 class="modal-title fs-5" id="exampleModalLabel">Permission changed successfully</h1>
          <div>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
        </div>
        <div class="modal-body">
            <div class="row" style="display: flex; align-items: center;">
                <div class="div">
                  <p class="apy-suc-para">Ralph Edwards's permission has been changed from Sub Admin to Admin Successfully.</p>
                </div>
              </div>
         
           <div class="row ">
            <span class="changed-row">changed to admin by <span class="name-span"><img src="../../../assets/images/user2.png"  height="30px" width="30px"> Lisni</span><span  class="d-flex align-items-center justify-content-center">On</span> <span class="d-flex align-items-center justify-content-center date-span">22nd Jan 2023</span></span> 
           </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-savechanges" data-bs-dismiss="modal">Proceed to home &nbsp;<img src="../../../assets/images/arrow.png" alt="" height="15px" width="15px"> </button>
        </div>
      </div>
    </div>
  </div>