<div class="container">
  <div class="main-row">
      <div class="row available-row">
          <div class="row available">
              <h2 class="main-title">Team availability <span class="online dn"> 12th November</span></h2>

              <div class="col-12">

                  <div class="row">
           <div class="col-md-4">
              <span class="online dn"> 
                  <select
                 
                  style="border: none; background: transparent"
                >
                  <option value="Sort by" selected>Design</option>
                  <option value="Casual">Casual</option>
                  <option value="Annual">Annual</option>
                  <option value="Medical">Medical</option>
                </select>
              </span>
              <h4 class="text-muted">Today</h4>
              <div class="row">
                
                  <h2 class="parent"><span class="span-num ">12<span class="online">Online</span></span>    <span class="span-num "> 
                      <img src="../../../assets/images/user1.png" alt="" width="30" height="30" class="child child-1"> 
                      <img src="../../../assets/images/user2.png" alt="" width="30" height="30" class="child child-2"> 
                      <span class="online one child child-3">Away</span></span></h2>
              </div>
             
           </div>
           <div class="col-md-4">
              <span class="online dn"> 
                  <select
                 
                  style="border: none; background: transparent"
                >
                  <option value="Sort by" selected>BA</option>
                  <option value="Casual">Casual</option>
                  <option value="Annual">Annual</option>
                  <option value="Medical">Medical</option>
                </select>
              </span>
              <h4  class="text-muted">Today</h4>
              <div class="row">
                
                  <h2 class="parent"><span class="span-num ">12<span class="online">Online</span></span>    <span class="span-num "> 
                      <img src="../../../assets/images/user1.png" alt="" width="30" height="30" class="child child-1"> 
                      <img src="../../../assets/images/user2.png" alt="" width="30" height="30" class="child child-2"> 
                      <span class="online one child child-3">Away</span></span></h2>
              </div>
             
           </div>
           <div class="col-md-4">
              <span class="online dn"> 
                  <select
                 
                  style="border: none; background: transparent"
                >
                  <option value="Sort by" selected>Product</option>
                  <option value="Casual">Casual</option>
                  <option value="Annual">Annual</option>
                  <option value="Medical">Medical</option>
                </select>
              </span>
              <h4  class="text-muted">Today</h4>
              <div class="row">
                
                  <h2 class="parent"><span class="span-num ">12<span class="online">Online</span></span>    <span class="span-num "> 
                      <img src="../../../assets/images/user1.png" alt="" width="30" height="30" class="child child-1"> 
                      <img src="../../../assets/images/user2.png" alt="" width="30" height="30" class="child child-2"> 
                      <span class="online one child child-3">Away</span></span></h2>
              </div>
             
           </div>
                  </div>
                 
              </div>
          </div>
          <div class="row available1">
              <div class="col-12">
                  <div class="row">
           <div class="col-md-4">
              <h4  class="text-muted">Today</h4>
              <div class="row">
                
                  <h2 class="parent"><span class="span-num ">12<span class="online">Online</span></span>    <span class="span-num "> 
                      <img src="../../../assets/images/user1.png" alt="" width="30" height="30" class="child child-1"> 
                      <img src="../../../assets/images/user2.png" alt="" width="30" height="30" class="child child-2"> 
                      <span class="online one child child-3">Away</span></span></h2>
              </div>
             
           </div>
           <div class="col-md-4">
              <h4>Today</h4>
              <div class="row">
                
                  <h2 class="parent"><span class="span-num ">12<span class="online">Online</span></span>    <span class="span-num "> 
                      <img src="../../../assets/images/user1.png" alt="" width="30" height="30" class="child child-1"> 
                      <img src="../../../assets/images/user2.png" alt="" width="30" height="30" class="child child-2"> 
                      <span class="online one child child-3">Away</span></span></h2>
              </div>
             
           </div>
           <div class="col-md-4">
              <h4  class="text-muted">Today</h4>
              <div class="row">
                
                  <h2 class="parent"><span class="span-num ">12<span class="online">Online</span></span>    <span class="span-num "> 
                      <img src="../../../assets/images/user1.png" alt="" width="30" height="30" class="child child-1"> 
                      <img src="../../../assets/images/user2.png" alt="" width="30" height="30" class="child child-2"> 
                      <span class="online one child child-3">Away</span></span></h2>
              </div>
             
           </div>
                  </div>
                 
              </div>
          </div>
      </div>
     
  </div>

 
</div>