.second-row {
  padding: 7px 45px 20px 77px;
}


h4 {
  font-size: 13px;
  padding: 10px;
  font-weight: 300;
}
h2 {
  font-size: 25px;
  font-weight: 1000;
  display: flex;
  justify-content: space-between;
}

.inside-row {
  padding: 39px;
  background-color: #f4f4f7;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.inside-row2 {
  padding: 39px;
  background-color: #f4f4f7;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.online {
  background-color: #d8f9a0;
  color: #4e8946;
  background-color: #d8f9a0;
  padding: 3px 10px 3px 10px;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 400;
  margin-left: 5px;
}

.online-span {
  background: #fff;
}

h2.main-title {
  font-size: 16px;
  margin-top: -20px;
  margin-bottom: 31px;
  align-items: center;
}

.one-child {
  color: #c94449;
  background-color: #fddfe1;
}

span.span-num {
  display: flex;
  align-items: center;
}

.child {
  position: absolute;
  top: 0;
}

.child-1 {
  left: 123px;
  top: 0;
}

.child-2 {
  left: 147px;
  top: 0;
}

.child-3 {
  left: 168px;
  top: 4px;
}

.child-4 {
  left: 251px;
  top: 7px;
}

.child-5 {
  left: 228px;
  top: 7px;
}

.parent {
  position: relative;
}
