//model css
.modal-content {
  width: 168%;
  top: 15px;
  right: 171px;
  border-radius: 22px;
  border: none;
}

.btn-closee {
  width: 100%;
  background-color: #f4f4f7;
  border-radius: 40px;
  height: 60px;
}

.btn-close {
  background-color: #f4f4f7;
  border-radius: 20px;
}

#exampleModal {
  backdrop-filter: blur(3px) !important;
}

h3 {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 10px;
}

.btn-close{
    margin-right: 10px;
    background-color: #f4f4f7;
    padding: 10px;
    border-radius: 50%;

  }

  .btn-closer {
    padding: 15px 35px 15px 35px;
    border: none;
    border-radius: 40px;
    background-color: #f4f4f7;
    color: black;
    width: 100%;
    font-weight: 500;
}

.btn-add{
    padding: 15px 35px 15px 35px;
    border: none;
    border-radius: 40px;
    background-color: #C083FA;
    color: black;
    width: 100%;
    font-weight: 500;
}

  .modal-title{
    font-weight: 900;
  }

  #exampleModal2{
    backdrop-filter: blur(1px);
  }

  .form-control{
    background-color: #f4f4f7;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    margin-bottom: 5px;
    margin-left: 10px;
  }

  .btn-close1 {
    margin-right: 10px;
    color: black;
    padding: 5px;
    margin-right: 5px;
  }

  .calender{
    background-color: #f4f4f7;
    border-radius: 20px;
    padding: 5px 10px 5px 10px
  }

  .leave-data{
    font-size: 14px;
    padding-bottom: 15px;
  }

  .datepicker {
    border-left: 1px solid gray;
    height: 100%;
    width: 0;
}

.col-md-1{
  width: 0 !important;
  border-right:1px solid black
}

.modal-footer{
  border: none !important;
}



//Date Picker scss
//@import "../../../styles.scss";

.custom-day {
  text-align: center;
  padding: 0.1rem 0.1rem;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #faf5fe;
}
.custom-day.range,
.custom-day:hover {
  background-color: #e1c6f8;
  color: purple;
  border-radius: 50%;
}
.custom-day.faded {
  background-color: #faf5fe;
}

.ngb-dp-weekday {
  font-size: 16px !important;
  font-weight: bold !important;
  color: red !important;
}

ngb-datepicker {
  border: none;
  border-radius: 10px;
  display: grid;
  // justify-content: space-around;
  width: 100%;
  background-color: #faf5fe;
}

.ngb-dp-header {
  color: purple;
}

.ngb-dp-arrow-btn {
  color: purple;
}

.ngb-dp-week.ngb-dp-weekdays {
  display: flex;
  justify-content: space-around;
}

/* Apply custom styles to the NgbDatepicker component */
::ng-deep .ngb-dp-header {
  // background-color: red !important;
  color: white;
  font-weight: bold;
}

::ng-deep .ngb-dp-day,
::ng-deep .ngb-dp-month,
::ng-deep .ngb-dp-year {
  color: black !important;
  margin-left: 15px;
  margin-bottom: 5px;
}

::ng-deep .ng-dp-week {
  margin-bottom: 10px !important;
}

::ng-deep .ng-db-weekdays {
  background-color: red !important;
  color: greenyellow !important;
}

.main-date {
  display: flex;
  justify-content: space-between;
}

.date-pipe {
  background-color: #faf5fe;
  border-radius: 10px;
  border: none;
  margin-left: 5px;
  padding: 10px;
  text-align: center;
  font-size: 14px;
}


.fill{
  border: 1px solid purple;
  background-color: #e1c6f8;
  background-image: url('../../../assets/images/correct-tick2.png');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 16px 16px;
}







.custom-day {
  text-align: center;
  padding: 0.1rem 0.1rem;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #FAF5FE;
}
.custom-day.range,
.custom-day:hover {
  background-color: #e1c6f8;
  color: purple;
  border-radius: 50%;
}
.custom-day.faded {
  background-color: #FAF5FE;
}


.ngb-dp-weekday {
font-size: 16px !important;
font-weight: bold !important;
color: red !important;
margin-left: 20px !important;

}

  ngb-datepicker {
      border: none;
      border-radius: 10px;
      display: grid;
      // justify-content: space-around;
     width: 100%;
     background-color: #FAF5FE;
      }

      .ngb-dp-header {
          color: purple;
        }
        
        .ngb-dp-arrow-btn {
          color: purple;
        }


        .ngb-dp-week.ngb-dp-weekdays {
          display: flex;
          justify-content: space-around;
      }


  /* Apply custom styles to the NgbDatepicker component */
::ng-deep .ngb-dp-header {
background-color: transparent !important;
  color: white;
  font-weight: bold;
  // display: flex;
  // justify-content: flex-end;
}

::ng-deep .ngb-dp-day, ::ng-deep .ngb-dp-month, ::ng-deep .ngb-dp-year, ::ng-deep .ngb-dp-weekday {
  color: black !important;
 margin-left: 15px;
 margin-bottom: 5px;
 font-style: normal !important;
 font-weight: 500;
 
}

::ng-deep .ng-dp-week{
  margin-bottom: 10px !important;
}
::ng-deep .ngb-dp-weekdays{
 background-color: transparent !important;
 border-bottom: 2px solid #C083FA !important;
 
}

::ng-deep  .ngb-dp-arrow-btn{
  color: #C083FA !important;
 
 
}
