<div class="sidebar open">
    <div class="logo-details">
      <i class='bx bxl-c-plus-plus icon'></i>
        <div class="logo_name">rootcode</div>
        <i class='bx bx-menu' id="btn" ></i>
    </div>
 
    <!-- <div class="provider-cap d-flex">
        <span class="provider-code">provider code: <a href="" class="text-dark">123456</a>&nbsp;<img src="../../../assets/images/provider-code.png" alt="" height="15px" width="15px"></span>
    </div> -->

    <ul class="nav-list">
      <li>
        <a href="#">
          <i class='bx bx-grid-alt'></i>
          <span class="links_name">Dashboard</span>
        </a>
         <span class="tooltip">Dashboard</span>
      </li>
      <li>
        <a href="#">
         <i class='bx bx-stopwatch'></i>
         <span class="links_name">Leaves</span>
        </a>
        <span class="tooltip">Leaves</span>
      </li>
     <li>
      <a href="#">
        <i class='bx bx-cog' ></i>
        <span class="links_name">Setting</span>
      </a>
      <span class="tooltip">Setting</span>
    </li>
    
     <div class="bottom-btn text-center">
      <div class="apply-btn">
        <button type="button" class="btn-lg apy-btn mb-3"  data-bs-toggle="modal" data-bs-target="#exampleModal">Apply Leave &nbsp; <span><img src="../../../assets/images/arrow.png" alt="" height="15px" width="20px"></span></button>
      </div>
      <a href="" class="text-decoration-none">Get Help</a>
    </div>


    </ul>
  </div>
  <section class="home-section">
    <app-supervisor-card></app-supervisor-card>
    <app-supervisor-table></app-supervisor-table>
    <app-supervisor-availability-table></app-supervisor-availability-table>
  </section>

 <app-approve-leave-modal></app-approve-leave-modal>