<div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Permission</h1>
          <div>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
        </div>
        <div class="modal-body">
            <div class="row" style="display: flex; align-items: center;">
                <div class="div">
                  <img src="../../../assets/images/user1.png" alt="img-admin" width="40" height="40" class="img-admin img-fluid"> &nbsp; <span class="admin-name"> Ralph Edwards</span> 
                </div>
              </div>
           <div class="row admin-start-date">
            <div class="admin-start">Sub Admin start date: <span class="date-cap"> <span class="date">jan 22 2023 </span> </span></div>
           </div>
           <div class="row">
            <label for="dropdownField" class="label">Change role</label>
            <select id="dropdownField" name="dropdownField">
              <option value="option1">Sub Admin</option>
              <option value="option2">Admin</option>
            </select>
           </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-savechanges">Save Changes &nbsp; <span><img src="../../../assets/images/correct-tick.png"  height="14px" width="14px"></span></button>
        </div>
      </div>
    </div>
  </div>