/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #f4f4f7;
  padding: 29px 19px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.open{
  width: 250px;
}
.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name{
  color: black;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name{
  opacity: 1;
}
.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: -13px;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn{
  text-align: right;
}
.sidebar i{
  color: black;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
}
.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}

.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip{
  display: none;
}

.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #f4f4f7;
}

.sidebar li a .links_name{
  color: black;
  font-size: 15px;
  font-weight: 600;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color: #11101D;
}
.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
 // margin-left: -29px;
}
.sidebar li.profile{
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #1d1b31;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile{
  width: 250px;
}
.sidebar li .profile-details{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar li.profile .name,
.sidebar li.profile .job{
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}
.sidebar li.profile .job{
  font-size: 12px;
}
.sidebar .profile #log_out{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #1d1b31;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar.open .profile #log_out{
  width: 50px;
  background: none;
}
.bottom-btn {
  margin-top: 331px;
  margin-left: -36px;
}

.bottom-btn a{
  color: black;
}


.apy-btn{
  height: 60px;
  width: 180px;
  font-weight: 600;
  border-radius: 30px;
  background-color: #c083fa;
  border: none;
}







.home-section{
  position: relative;
  background: white;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}
.sidebar.open ~ .home-section{
  left: 250px;
  width: calc(100% - 250px);
}
.home-section .text{
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px
}
@media (max-width: 420px) {
  .sidebar li .tooltip{
    display: none;
  }

 
}

//model css
.modal-content{
  width: 130%;
  top: 83px;
  right: 63px;
   border-radius: 25px;
}

.btn-closee{
  width: 100%;
  background-color: #f4f4f7;
  border-radius: 40px;
  height: 60px;
}

.btn-close{
  background-color: #f4f4f7;
    border-radius: 20px;

}

.modal-header{
  padding: 26px;
}

.modal-backdrop.show{
  opacity: 0 !important;
}

//allocations css
.card-counter{
  margin: 5px;
  padding: 9px 15px;
  background-color: #f4f4f7;
  height: auto;
  border-radius: 20px;
}



 

.card-counter i{
  font-size: 5em;
  opacity: 0.2;
}

.card-counter .count-numbers{
  font-size: 32px;
  display: block;
  font-weight: 500;
}

.card-counter .count-name{
  display: block;
  font-size: 14px;
  color: black;
}

.count-name{
  font-weight: 600;
}

.sub{
  vertical-align: sub;
  font-size: 14px;
}

.leave-typ{
  font-weight: 400;
  font-size: 14px;

}

.apply-btn2{
  display: none;
  margin-top: 38px;
  font-size: 12px;
  border: none;
  color: #11101D;
  border-radius: 30px;
  background-color: #c083fa;
}

// .apply-btn2:hover{
//   margin-top: 38px;
//   font-size: 12px;
//   border: 1px solid #c083fa;
//   color: #11101D;
//   border-radius: 30px;
//   background-color: white;
// }

.hover-card:hover .apply-btn2{
display: inline-block;
}

.hover-card:hover{
  border: 1px solid #c083fa;
  background-color: #f6eefe;
  border-radius: 20px;

}

#exampleModal{
  backdrop-filter: blur(3px) !important;
  background-color: transparent !important;
}