
<div class="modal fade" id="exampleModal7" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="hand-emoj"><img src="../../../assets/images/party-emoji.png" alt="" height="24px" width="24px"></div>
          <h5 class="modal-title" id="exampleModalLabel">Apply Leave</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                  <div class="row">
                    <div class="row">
                      <div class="leave-summery-type">
                        Member :
                        <span class="calender"
                          ><img
                            src="../../../assets/images/user1.png"
                            alt="calender"
                            width="20"
                            height="20"
                          />
                          Jenny Wilson</span
                        >
                      </div>
                      <div class="leave-summery-type">
                        Duration :
                        <span class="calender" style="margin-right: 20px">1 Day</span
                        ><span class="calender">9th jan 2023</span>
                      </div>
                      <div class="leave-summery-type">
                        Type :
                        <span class="calender"
                          ><img
                            src="../../../assets/images/coconut-tree.png"
                            alt="calender"
                            width="20"
                            height="20"
                          />
                          Casual</span
                        >
                      </div>
            
                      <div class="leave-summery-type">
                          Status :
                          <span class="calender"
            
                            ><img
                              src="../../../assets/images/coconut-tree.png"
                              alt="calender"
                              width="20"
                              height="20"
                            />
                            Aproved</span
                          >
                        </div>
                    </div>
                  </div>
                </div>
              </div>
          
      
          
           <div class="modal-footer">
            <button type="button" class="btn btn-add" data-bs-toggle="modal" data-bs-target="#exampleModal3">  Proceed to Home &nbsp; <span class="process-logo"><img src="../../../assets/images/arrow.png" height="13px" width="18px"></span></button>

          <button type="button" class="btn btn-closer" data-bs-dismiss="modal"> Undo Approval &nbsp; <span><img src="../../../assets/images/undo-arrow.jpg" alt="" height="13px" width="18px"></span> </button>

        </div>
      </div>
    </div>
    </div>
</div>







   