.custom-day {
    text-align: center;
    padding: 0.1rem 0.1rem;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 2rem;
}
.custom-day.focused {
    background-color: #FAF5FE;
}
.custom-day.range,
.custom-day:hover {
    background-color: #e1c6f8;
    color: purple;
    border-radius: 50%;
}
.custom-day.faded {
    background-color: #FAF5FE;
}


.ngb-dp-weekday {
  font-size: 16px !important;
  font-weight: bold !important;
  color: red !important;
}

    ngb-datepicker {
        border: none;
        border-radius: 10px;
        display: grid;
        // justify-content: space-around;
      width: 100%;
      background-color: #FAF5FE;
        }

        .ngb-dp-header {
            color: purple;
          }
          
          .ngb-dp-arrow-btn {
            color: purple;
          }


          .ngb-dp-week.ngb-dp-weekdays {
            display: flex;
            justify-content: space-around;
        }


    /* Apply custom styles to the NgbDatepicker component */
::ng-deep .ngb-dp-header {
    // background-color: red !important;
    color: white;
    font-weight: bold;
  }
  
  ::ng-deep .ngb-dp-day, ::ng-deep .ngb-dp-month, ::ng-deep .ngb-dp-year {
    color: black !important;
   margin-left: 15px;
   margin-bottom: 5px;
  }
  
  ::ng-deep .ng-dp-week{
    margin-bottom: 10px !important;
  }

 

.main-date{
  display: flex;
  justify-content: space-between;
}

.date-pipe{
  background-color: #FAF5FE;
  border-radius: 10px;
  border: none;
  margin-left: 5px;
  padding: 10px;
  text-align: center;
  font-size: 14px;
}