#chart-column{
    display: block;
    // min-width: 150px;
    // max-width: 400px;
    height: 170px;
    margin-top: 12px;
  }

  h5{
    font-size: 14px;
    font-weight: 600;
    padding: 17px 20px 0px 7px;
    margin: 0;
  }