/* Default styles */
.container {
  padding: 0px 65px; /* Adjust padding as needed for smaller screens */
}

.heading {
  font-weight: 700;
}

.card-counter {
  margin: 5px;
  padding: 6px 10px;
  background-color: #f4f4f7;
  height: auto;
  border-radius: 5px;
  transition: 0.3s linear all;
}

.card-counter:hover {
  box-shadow: 4px 4px 20px #dadada;
  transition: 0.3s linear all;
}

.card-counter i {
  font-size: 5em;
  opacity: 0.2;
}

.card-counter .count-numbers {
  font-size: 32px;
  display: block;
  font-weight: 500;
}

.card-counter .count-name {
  display: block;
  font-size: 11px;
  color: black;
}

.count-name {
  font-weight: 600;
}

.sub {
  vertical-align: sub;
  font-size: 14px;
}

.leave-typ {
  font-weight: 500;
}

/* Responsive styles */
@media (max-width: 768px) {
  .container {
    padding: 0px; /* Remove horizontal padding for smaller screens */
  }
  
  .card-counter {
    padding: 15px 5px; /* Adjust padding for smaller screens */
  }

  .card-counter i {
    font-size: 4em; /* Adjust icon size for smaller screens */
  }

  .count-numbers {
    font-size: 28px; /* Adjust font size for smaller screens */
  }
}
