.heading{
  font-weight: 700;
}
.card-counter{
    // box-shadow: 2px 2px 10px #DADADA;
    margin: 5px;
    padding: 20px 10px;
    background-color: #f4f4f7;
    height: auto;
    border-radius: 5px;
    transition: .3s linear all;
  }

  .card-counter:hover{
    box-shadow: 4px 4px 20px #DADADA;
    transition: .3s linear all;
  }

   

  .card-counter i{
    font-size: 5em;
    opacity: 0.2;
  }

  .card-counter .count-numbers{
    font-size: 32px;
    display: block;
    font-weight: 500;
  }

  .card-counter .count-name{
    display: block;
    font-size: 14px;
    color: black;
  }

  .count-name{
    font-weight: 600;
  }

  .sub{
    vertical-align: sub;
    font-size: 14px;
  }

  .leave-typ{
    font-weight: 800;
  }