
<div class="container">
    <h4 class="mt-3 heading">Leave Allocation</h4>
    <div class="row p-0">
      <div class="col ">
        <div class="card-counter">
            <div class="row d-flex">
                <div class="col leave-typ">Casual Leaves</div>
                  <div class="col text-end">
                    <img src="../../../assets/images/R (1).png" alt="" width="20px" height="20px">
                  </div>
            </div>
            <span class="count-numbers">2<span class="sub" width="1" height="1">/7</span></span> 
            <span class="count-name">Available</span>
          </div>      </div>
      <div class="col">
        <div class="card-counter">
            <div class="row d-flex">
                <div class="col leave-typ">Anual Leaves</div>
                  <div class="col text-end">
                    <img src="../../../assets/images/coconut-tree.png" alt="">
                  </div>
            </div>
            <span class="count-numbers">1<span class="sub" width="1" height="1">/7</span></span> 
            <span class="count-name">Available</span>
          </div> 
        </div>
      <div class="col">
        <div class="card-counter">
            <div class="row d-flex">
                <div class="col-md-8 leave-typ">Medical Leaves</div>
                  <div class="col text-end">
                    <img src="../../../assets/images/medical.png" alt="" height="20px" width="20px">
                  </div>
            </div> 
            <span class="count-numbers">6<span class="sub" width="1" height="1">/7</span></span> 
            <span class="count-name">Available</span>
          </div> 
     </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card-counter">
                <div class="row d-flex">
                    <div class="col leave-typ">Academic Leaves</div>
                      <div class="col text-end">
                        <img src="../../../assets/images/graduation-hat.png" alt="">
                      </div>
                </div> 
                <span class="count-numbers">3<span class="sub" width="1" height="1">/7</span></span> 
                <span class="count-name">Available</span>
              </div>         </div>
        <div class="col">
            <div class="card-counter">
                <div class="row d-flex">
                    <div class="col leave-typ">Custom Leaves</div>
                      <div class="col text-end">
                        <img src="../../../assets/images/hand.png" alt="">
                      </div>
                </div>
                <span class="count-numbers">1<span class="sub" width="1" height="1">/7</span></span> 
                <span class="count-name">Available</span>
              </div>        
             </div>
      </div>
  </div>