
.card-containe{
    padding: 10px 92px 0px 94px;
}
.permission-icon{
    align-items: flex-end;
    justify-content: flex-end;
}

.participate-card {
    padding: 20px;
    border-radius: 18px;
    background-color: #f4f4f7;
}

.participate_img img {
  border-radius: 50%;
  margin-bottom: 17px;
  height: 95px;
}

.btn-participate {
  border: none;
  border-radius: 40px;
  color: black;
  margin-top: 5px;
  background-color: white;
  font-size: 14px;
}
h5 {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}
.add-btn{
    background-color:#f4f4f7 ;
    color: black;
    border: none;
}