.container {
  width: 80%;
}

.permission-icon{
    align-items: flex-end;
    justify-content: flex-end;
}

.participate-card {
    padding: 20px;
    border-radius: 18px;
    background-color: #f4f4f7;
}

.participate_img img {
  border-radius: 50%;
  margin-bottom: 17px;
  background-color: #016fff1c;
}

.btn-participate {
  border: none;
  border-radius: 40px;
  color: black;
  margin-top: 5px;
  background-color: white;
  font-size: 14px;
}
h5 {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}
