<div class="container mt-3 mb-5">
    <div class="row justify-content-center">
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 g-2">
            <div class="participate-card">
                <div class="d-flex permission-icon"><span><i class="bi bi-pen-fill"></i></span></div>
                <div class="participate_img">
                    <img src="../../../assets/images/png-transparent-graphic-design-icon-customer-service-avatar-icon-design-call-centre-yellow-smile-forehead.png" alt="participate_img" class="img-fluid">
                </div>
                    <!-- <div class="log-participate">
                        <img  src="{{participates.logo}}" alt="logo_participate" width="50px" height="50px">
                    </div> -->
             
                <h5 class="mb-0">Annette Black</h5>
                
                <div class="row">
                    <button class="btn btn-participate"> <span><i class="bi bi-shield-check"></i></span> &nbsp;Administrator</button>
                </div>
               
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 g-2">
            <div class="participate-card">
                <div class="d-flex permission-icon"><span><i class="bi bi-pen-fill"></i></span></div>
                <div class="participate_img">
                    <img src="../../../assets/images/png-transparent-graphic-design-icon-customer-service-avatar-icon-design-call-centre-yellow-smile-forehead.png" alt="participate_img" class="img-fluid">
                </div>
                    <!-- <div class="log-participate">
                        <img  src="{{participates.logo}}" alt="logo_participate" width="50px" height="50px">
                    </div> -->
             
                <h5 class="mb-0">Raap Edwards</h5>
                <div class="row">
                    <button class="btn btn-participate"><span><i class="bi bi-shield-check"></i></span> &nbsp;Sub Admin</button>
                </div>
               
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 g-2">
            <div class="participate-card text-center">
                <div class="d-flex permission-icon"><span><i class="bi bi-pen-fill"></i></span></div>
                <div class="participate_img">
                    <img src="../../../assets/images/png-transparent-graphic-design-icon-customer-service-avatar-icon-design-call-centre-yellow-smile-forehead.png" alt="participate_img" class="img-fluid">
                </div>
                    <!-- <div class="log-participate">
                        <img  src="{{participates.logo}}" alt="logo_participate" width="50px" height="50px">
                    </div> -->
             
                <h5 class="mb-0">Sasindu Rex</h5>
                <div class="row">
                    <button class="btn btn-participate"><span><i class="bi bi-shield-check"></i></span> &nbsp;Sub Admin</button>
                </div>
               
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 g-2">
            <!-- <div class="participate-card">
                <div class="participate_img">
                    <img src="../../../assets/images/png-transparent-graphic-design-icon-customer-service-avatar-icon-design-call-centre-yellow-smile-forehead.png" alt="participate_img" class="img-fluid">
                </div>
                   
             
                <h5 class="mb-0">ananth vishnu</h5>
                <div class="row">
                    <button class="btn btn-participate">submit</button>
                </div>
               
            </div> -->
        </div>
    </div>
</div>