<div class="container mt-3 mb-5">
    <div class="row justify-content-center">
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 g-2">
            <div class="card">
                <!-- Card content goes here -->
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 g-2">
            <div class="card">
                <!-- Card content goes here -->
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 g-2">
            <div class="card">
                <!-- Card content goes here -->
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 g-2">
            <div class="card">
                <!-- Card content goes here -->
            </div>
        </div>
    </div>
</div>