
<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Leave request confirmed</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                  <div class="row">
                      <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio architecto excepturi, qui nesciunt ipsa quisquam maxime ullam hic aut minima?</p>
                    <div class="row">
                      <div class="leave-summery-type">
                        Type :
                        <span class="calender"
                          ><img
                            src="../../../assets/images/R (1).png"
                            alt="calender"
                            width="16"
                            height="16"
                          />
                          Casual</span
                        >
                      </div>
                      <div class="leave-summery-type">
                        Duration :
                        <span class="calender" style="margin-right: 20px">1 Day</span
                        ><span class="calender">9th jan 2023</span>
                      </div>
                      <div class="leave-summery-type">
                        Recipent :
                        <span class="calender"
                          ><img
                            src="../../../assets/images/png-transparent-graphic-design-icon-customer-service-avatar-icon-design-call-centre-yellow-smile-forehead.png"
                            alt="calender"
                            width="20"
                            height="20"
                          />
                          Casual</span
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
           <div class="modal-footer">
            <button type="button" class="btn btn-add" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#exampleModal3"> 
             Proceed to home</button>

          <button type="button" class="btn btn-closer" data-bs-dismiss="modal"> Undo Request </button>

        </div>
      </div>
    </div>


  




   