<div class="container mt-4">
    <div class="col-md-10">
      <div class="row">
        <div class="col">
          <div>
            <h1>chart</h1>
            </div>
        </div>
        <div class="col">
          <div class="row employee">
            <div class="row">
              <h3 class="member-heading">
                Current avilability <span> <i class="bi bi-calendar"></i> 12th november</span>
              </h3>
            </div>
            <div class="row">
              <h4>COMPANY</h4>

              <div class="count">
                <h2>45<span class="count-span online">online</span> 12<span class="count-span away">Away</span></h2>
              </div>
            </div>
            <div class="bottom-border"></div>
            <div class="row team-row">
              <h4 class="member-heading">TEAM <span> Team: Design team</span></h4>
              <div class="num parent">
  
                <h2>45 &nbsp;<span class="num-span online ">online</span>
                  <h1 class="">
                      <img class="child child-1" src="../../../assets/images/user1.png" alt="" height="40px" width="40px" />
                      <img class="child child-2" src="../../../assets/images/user1.png" alt="" height="40px" width="40px" />
                      <img class="child child-3" src="../../../assets/images/user1.png" alt="" height="40px" width="40px" />
                      <img class="child child-4" src="../../../assets/images/user1.png" alt="" height="40px" width="40px" />
                      <span class="num-span away child child-5 ">4 members away</span>
                  </h1>
                  
                </h2>
              </div>
            </div>
          </div>
        </div>
      </div>


      
      <div class="row">
        <div class="col">
          <div class="bar-chart">
            <h1>chart</h1>
           



          </div>
        </div>
      </div>
    </div>
  </div>