<div class="container">
    <nav class="navbar">
      <div class="container-fluid">
        <a class="navbar-brand"></a>
        <div class="d-flex align-items-center user-cardbg">
          <div class="bell-icon me-1 p-3">
              <img src="../../../assets/images/R.png" alt="" height="20px" width="20px">
          </div>
          <div class="user-img me-3">
              <img src="../../../assets/images/manager.png" height="40px" width="40px" alt="">
          </div>
          <div class="me-2 name-em">Esthar Howard
              <div class="position-em text-muted">Project Manager</div>
          </div>
          <div class="dropdown">
              <button class="dropbtn dropdown-toggle">Manager View &nbsp;</button>
              <div class="dropdown-content">
              <a [routerLink]="['']">Employee View</a>
              <a [routerLink]="['/admin']">Super Admin View</a>
            </div>
            </div>
             
          </div>
      </div>
    </nav>
  </div>
  