<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Apply Leave</h1>
          <div>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
        </div>
        <div class="modal-body">
          <h4 class=" heading">Leave allocation</h4>
  
          <div class="row p-0">
            <div class="col g-0 ">
              <div class="card-counter hover-card">
                  <div class="row d-flex">
                      <div class="col-sm-9 leave-typ">Casual Leaves</div>
                        <div class="col-sm-3 text-end">
                          <img src="../../../assets/images/R (1).png" alt="" width="20px" height="20px">
                        </div>
                  </div>
  
                  <div class="row d-flex">
                    <div class="col-sm-5">
                      <span class="count-numbers">2<span class="sub" width="1" height="1">/7</span></span> 
                      <span class="count-name">Available</span>
                    </div>
                    <div class="col-sm-7 text-end">
                        <button class="btn apply-btn2"  data-bs-toggle="modal" data-bs-target="#exampleModal2">Apply  &rarr;</button>
                    </div>
                  </div>
                 
                </div>  
              </div>
            <div class="col g-0">
              <div class="card-counter hover-card">
                  <div class="row d-flex">
                      <div class="col-sm-9 leave-typ">Anual Leaves</div>
                        <div class="col-sm-3 text-end">
                          <img src="../../../assets/images/coconut-tree.png" alt="">
                        </div>
                  </div>
                  <div class="row d-flex">
                    <div class="col-sm-5">
                      <span class="count-numbers">2<span class="sub" width="1" height="1">/7</span></span> 
                      <span class="count-name">Available</span>
                    </div>
                    <div class="col-sm-7 text-end">
                        <button class="btn apply-btn2"  data-bs-toggle="modal" data-bs-target="#exampleModal2">Apply  &rarr;</button>
                    </div>
                  </div>
                </div> 
              </div>
            <div class="col g-0">
              <div class="card-counter hover-card">
                  <div class="row d-flex">
                      <div class="col-sm-10 leave-typ">Medical Leaves</div>
                        <div class="col-sm-2 text-end">
                          <img src="../../../assets/images/medical.png" alt="" height="20px" width="20px">
                        </div>
                  </div> 
                  <div class="row d-flex">
                    <div class="col-sm-5">
                      <span class="count-numbers">2<span class="sub" width="1" height="1">/7</span></span> 
                      <span class="count-name">Available</span>
                    </div>
                    <div class="col-sm-7 text-end">
                        <button class="btn apply-btn2"  data-bs-toggle="modal" data-bs-target="#exampleModal2">Apply  &rarr;</button>
                    </div>
                  </div>
                </div> 
           </div>
          </div>
          <div class="row">
              <div class="col g-0">
                  <div class="card-counter hover-card">
                      <div class="row d-flex">
                          <div class="col-sm-9 leave-typ">Academic Leaves</div>
                            <div class="col-sm-3 text-end">
                              <img src="../../../assets/images/graduation-hat.png" alt="">
                            </div>
                      </div> 
                      <div class="row d-flex">
                        <div class="col-sm-5">
                          <span class="count-numbers">2<span class="sub" width="1" height="1">/7</span></span> 
                          <span class="count-name">Available</span>
                        </div>
                        <div class="col-sm-7 text-end">
                            <button class="btn apply-btn2"  data-bs-toggle="modal" data-bs-target="#exampleModal2" >Apply  &rarr;</button>
                        </div>
                      </div>
                    </div>  
                      </div>
              <div class="col g-0">
                  <div class="card-counter hover-card">
                      <div class="row d-flex">
                          <div class="col-sm-9 leave-typ">Custom Leaves</div>
                            <div class="col-sm-3 text-end">
                              <img src="../../../assets/images/hand.png" alt="">
                            </div>
                      </div>
                      <div class="row d-flex">
                        <div class="col-sm-5">
                          <span class="count-numbers">4<span class="sub" width="1" height="1">/7</span></span> 
                          <span class="count-name">Available</span>
                        </div>
                        <div class="col-sm-7 text-end">
                            <button class="btn apply-btn2"  data-bs-toggle="modal" data-bs-target="#exampleModal2" >Apply  &rarr;</button>
                        </div>
                      </div>
                    </div>        
                   </div>
            </div>      </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-closee" data-bs-dismiss="modal">Close &nbsp;<span class="btn-close"></span></button>
        </div>
      </div>
    </div>
  </div>