@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    font-family: "Poppins" , sans-serif;
  }

  


//Colors
$primaryPurple: #006fff;
$secondaryPurple: #4e9bff;
$gradiant:linear-gradient(5deg, #006fff, #4e9bff);
$primaryBlack:#8200ff12;
$primaryColorDark: #002C6E;
$primaryColorLight: #3e39ff;
$secondaryColorDark: #827eff;
$secondaryColorLight: #b6b4ff;
$white: #ffffff;
$whitepurble: #f2e5ff;
$black: #000000;
$grey: #7A7A7E;
$gold: #b7ac7f;
$fontPoppins: 'Poppins', sans-serif;
$fontSans: 'sans-serif';
$raleway: 'Raleway', sans-serif;
$spectral: 'Spectral', serif;


::-webkit-scrollbar { 
    width: 8px; 
} 

/* Track */ 
::-webkit-scrollbar-track { 
    background: gainsboro; 
    border-radius: 15px; 
} 

/* Handle */ 
::-webkit-scrollbar-thumb { 
    background:$gradiant; 
    // box-shadow: 15px 15px 25px #ff0000a4;
    border-radius: 15px; 
} 

/* Handle on hover */ 
::-webkit-scrollbar-thumb:hover { 
    background: $gradiant; 
} 


/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';



ngb-datepicker {
	border: 1px solid red;
	border-radius: 0.25rem;
	display: inline-block;

	&-month {
		pointer-events: auto;
	}

	&.dropdown-menu {
		padding: 0;
	}

	&.disabled {
		.ngb-dp-weekday,
		.ngb-dp-week-number,
		.ngb-dp-month-name {
			color: red;
		}
	}
}

.ngb-dp {
	&-body {
		z-index: 1055;
	}

	&-header {
		border-bottom: 0;
		border-radius: 0.25rem 0.25rem 0 0;
		padding-top: 0.25rem;
		background-color: red;
	}

	&-months {
		display: flex;
	}

	&-month {
		pointer-events: none;

		&-name {
			font-size: larger;
			height: 2rem;
			line-height: 2rem;
			text-align: center;
			background-color: var(--bs-light);
		}

		& + & {
			.ngb-dp-month-name,
			.ngb-dp-week {
				padding-left: 1rem;
			}
		}

		&:last-child .ngb-dp-week {
			padding-right: 0.25rem;
		}

		&:first-child .ngb-dp-week {
			padding-left: 0.25rem;
		}

		.ngb-dp-week:last-child {
			padding-bottom: 0.25rem;
		}
	}
}