@import '../../../styles.scss';

.container{
    padding-bottom: 40px;
}



.participate-card{
    position: relative;
    box-shadow: 0 0 40px 10px #adadad2d;
    padding: 30px;
    // border-radius: 18px;
    max-width: 250px;
    margin: auto;
}

.participate_img img{
    border-radius: 50%;
    margin-bottom: 17px;
    background-color:  #016fff1c;
   
}


.log-participate {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 78px;
    right: 9px;
    background-color:$white; 
    border-radius: 50%;
   
}

.row{
    align-items: center;
    justify-content: center;
}

.btn-participate {
    border: none;
    color: $secondaryPurple;
    margin-top: 5px;
    max-width: 100%;    
    width: 150px !important;
    height: 48px;
    background-color: #016fff1c;
  }

h5{
    font-size: 18px;
    font-weight: 500;
}
@media (max-width:866px) {

    .participate_img{
        object-fit: contain;
    }
.participate-card{
 position: relative;
}

    .log-participate {
        position: absolute;
        top: 78px;
        right: 9px;
        background-color: white; 
       
        border-radius: 50%;
      

    }
    
   
}

@media (max-width:767px) {
    .participate_img{
        object-fit: contain;
    }
    .participate-card{
        position: relative;
       }

    .log-participate {
        position: absolute;
        top: 78px;
        right: 9px;
        background-color: white; 
        border-radius: 50%;
       
    }
    
}



