<div class="container">
    <nav class="navbar">
      <div class="container-fluid">
        <a class="navbar-brand"></a>
        <div class="d-flex align-items-center user-cardbg">
          <div class="bell-icon me-1 p-3">
              <img src="../../../assets/images/R.png" alt="" height="20px" width="20px">
          </div>
          <div class="user-img me-3">
              <img src="../../../assets/images/png-transparent-graphic-design-icon-customer-service-avatar-icon-design-call-centre-yellow-smile-forehead.png" height="50px" width="50px" alt="">
          </div>
          <div class="me-2 name-em">Leslie Alexander
              <div class="position-em text-muted">UX Desingner</div>
          </div>
          <div class="dropdown">
              <button class="dropbtn dropdown-toggle">Employee View &nbsp;</button>
              <div class="dropdown-content">
              <a href="#">Admin</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
              </div>
            </div>
             
          </div>
      </div>
    </nav>
  </div>
  