.container {
  padding: 0px 47px 0px 55px;
}

.heading {
  font-weight: 700;
  font-size: 21px;
  margin-top: 10px;
  margin-bottom: 23px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

thead th {
  padding: 8px;
  padding: 7px 30px 6px 20px;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  font-weight: 400;
  font-size: 14px;
}

.leave-container {
  background-color: #f4f4f7;
  border-radius: 10px;
}

.main-row div {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  padding: 13px 0px 12px 27px;
}

.main-row div .filter {
  padding: 0;
  margin-right: 48px;
}

.main {
  padding: 10px;
}

span {
  background-color: #ffff;
  border-radius: 20px;
  color: black;
}

.status {
  background-color: #ffff;
  border-radius: 20px;
  color: black;
  padding: 3px 10px 3px 10px;
}

th {
  padding: 20px;
  margin-left: 15px;
  width: 200px;
}

tr {
  padding: 20px;
}

td {
  font-size: 14px;
  padding: 18px 10px 19px 10px;
}

/* Active page css */
.pagination .page-item.active .page-link {
  background-color: transparent !important;
  border-color: #c083fa !important;
  color: #000;
  margin: 5px;
  border-radius: 5px;
}

/* Inactive page css */
.pagination .page-item:not(.active) .page-link {
  background-color: #f8f9fa;
  border-color: #dee2e6;
  color: #212529;
  margin: 5px;
  border-radius: 5px;
}

.pagination {
  padding: 7px;
}

.btn-filter {
  border: none;
}

.status-indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.pending {
  background-color: transparent;
  border: 2px solid yellow;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.approved {
  background-color: green;
}

.denied {
  background-color: red;
}
